.table {
    text-align: left;
}

td {
    height:50px;
    width:500px;
}

th {
    font-weight: bold;
    text-decoration: underline;
}

.gre{
  background-color: #007e00;
}

.blu{
	background-color: #0000ff;
}

.gre:hover {
      color: #00ff40;
}

.blu:hover {
    color: #00bfff;
}

/* Color Palette adapted from: https://www.w3schools.com/colors/colors_picker.asp */
